/* LiquidacionForm.css */
.liquidacion-form {
  font-family: Arial, sans-serif;
  margin: 20px;
  position: absolute;
  top: 0px;
  right: 0;
  padding: 177px;
}
h2,
h3 {
  text-align: center;
}

.empresa-info {
  text-align: center;
  margin-bottom: 20px;
}
.form-section {
  margin: 20px 0;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-bottom: 20px;
}
.total-section {
  text-align: center;
  margin-top: 20px;
}
.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
/* button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
button[type="submit"] {
  background-color: #f47e8e;
}
button[type="button"] {
  background-color: #9bd3ae;
} */
