.button-crear {
  margin-right: 10px;
  border-radius: 16px;
  width: 110px;
  border: none;
  background-color: #9bd3ae;
  justify-content: space-evenly;
}

.button-crear:hover {
  background-color: #68b26ace;
}

.button-crear:active {
  box-shadow: 0 5px black;
  transform: translateY(1px);
}

.button-editar {
  margin-right: 10px;
  border-radius: 16px;
  width: 110px;
  border: none;
  background-color: #84b6f4;
}

.button-editar:hover {
  background-color: #008cffce;
}

.button-editar:active {
  box-shadow: 0 5px black;
  transform: translateY(1px);
}

.button-eliminar {
  margin-right: 10px;
  border-radius: 16px;
  width: 110px;
  border: none;
  background-color: #f47e8e;
}

.button-eliminar:hover {
  background-color: #f44336ce;
}

.button-eliminar:active {
  box-shadow: 0 5px black;
  transform: translateY(1px);
}

.button-activar {
  margin-right: 10px;
  border-radius: 16px;
  width: 110px;
  border: none;
  background-color: #ffda89;
}

.button-activar:hover {
  background-color: #ffc107ce;
}

.button-activar:active {
  box-shadow: 0 5px black;
  transform: translateY(1px);
}

.container-buttons {
  right: 300px;
  position: absolute;
  top: 56px;
  left: 0;
  display: flex;
  justify-content: end;
  margin-left: -250px;
}

.principal {
  display: flex;
  width: 75%;
  height: 550px;
  flex-direction: row;
  margin-left: 350px;
  border-radius: 10px;
  position: absolute;
  top: 130px;
  align-items: center;
}

.button-principal {
  position: absolute;

  bottom: 10px;
  display: flex;
  justify-content: space-evenly;
}

.button-uno {
  margin-right: 10px;
  border-radius: 16px;
  background-color: #9bd3ae;
}

.button-uno:hover {
  background-color: #68b26ace;
}

.button-uno:active {
  box-shadow: 0 5px black;
  transform: translateY(1px);
}

.button-dos {
  border-radius: 16px;
  background-color: #f47e8e;
}

.button-dos:hover {
  background-color: #f44336ce;
}

.button-dos:active {
  box-shadow: 0 5px black;
  transform: translateY(1px);
}
