.button-crear {
  margin-right: 10px;
  border-radius: 16px;
  width: 110px;
  border: none;
  background-color: #68B26B;
  justify-content: space-evenly;
}

.button-crear:hover {
  background-color: #68b26ace;  
}

.button-crear:active {
  box-shadow: 0 5px black;
  transform: translateY(1px);
}

.button-editar {
  margin-right: 10px;
  border-radius: 16px;
  width: 110px;
  border: none;
  background-color: #008cff;
}

.button-editar:hover {
  background-color: #008cffce;
}

.button-editar:active {
  box-shadow: 0 5px black;
  transform: translateY(1px);
}

.button-eliminar {
  margin-right: 10px;
  border-radius: 16px;
  width: 110px;
  border: none;
  background-color: #F44336;
}

.button-eliminar:hover {
  background-color: #f44336ce;
}

.button-eliminar:active {
  box-shadow: 0 5px black;
  transform: translateY(1px);
}

.button-activar {
  margin-right: 10px;
  border-radius: 16px;
  width: 110px;
  border: none;
  background-color: #FFC107;
}

.button-activar:hover {
 background-color: #ffc107ce; 
}

.button-activar:active {
  box-shadow: 0 5px black;
  transform: translateY(1px);
}

.container-buttons {
  right: 67px;
  position: absolute;
  top: 56px;
  left: 0;
  display: flex;
  justify-content: end;
  margin-left: -250px;
}

.principal {
  display: flex;
  width: 75%;
  height: 550px;
  background-color: rgba(148, 148, 148, 0.411);
  flex-direction: row;
  margin-left: 350px;
  border-radius: 10px;
  position: absolute;
  top: 130px;
  align-items: center;
}

.button-principal {
  position: absolute;
  right: 67px;
  bottom: 0px;
  display: flex;
  justify-content: space-evenly;
}

.button-uno {
  margin-right: 10px;
  border-radius: 16px;
  background-color: #F44336;
}

.button-uno:hover {
  background-color: #f44336ce;
}

.button-uno:active {
  box-shadow: 0 5px black;
  transform: translateY(1px);
}

.button-dos {
  border-radius: 16px;
  background-color: #68B26B;
}

.button-dos:hover {
  background-color: #68b26ace;
}

.button-dos:active {
  box-shadow: 0 5px black;
  transform: translateY(1px);
}